@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --pl1-preto: #222831;
    --pl1-cinza: #393E46;
    --pl1-turq: #00ADB5;
    --pl1-gelo: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--pl1-preto);
}

header {
    position: fixed;
    left: 0;    
    top: 0;
    margin-top: 5%;
    width: 100%;
    height: 10vh;
    text-align: center;
}

header h1 {
    color: var(--pl1-gelo);
    font-weight: 400;
}

.wrapper {
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    text-align: center;
    line-height: 46px;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.2rem;
    background: var(--pl1-gelo);
    transform: tranlateY(-50%);
}

.wrapper i:first-child {
    left: -23px;
    display: none;
}

.wrapper i:last-child {
    right: -23px;

}

.wrapper .carousel {
    font-size: 0rem;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel .dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel .dragging img {
    pointer-events: none;
}

.carousel img {
    height: 340px;
    width: calc(100% / 3);
    margin-left: 14px;
    object-fit: cover;
}

.carousel img:first-child {
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}